<div>
    <button class="btn js-toggle-dark-mode">🌞</button>
    <script> 
        const toggleDarkMode = document.querySelector('.js-toggle-dark-mode'); 
        jtd.addEvent(toggleDarkMode, 'click', function() { 
            if (localStorage.getItem('theme') === 'dark') {
                jtd.setTheme('light');
                localStorage.setItem('theme', 'light');
                toggleDarkMode.textContent = "🌛";
            }
            else if (localStorage.getItem('theme') === 'light') {
                jtd.setTheme('dark');
                localStorage.setItem('theme', 'dark');
                toggleDarkMode.textContent = "🌞";
            }
            else {
                jtd.setTheme('light');
                localStorage.setItem('theme', 'light');
                toggleDarkMode.textContent = "🌛";
            }
        }); 
    </script>
</div>